<!doctype html>
<html>
  <head>
    <title>Vuejs In Express</title>
    link(rel='stylesheet', href='/assets/css/frontend/app.css')
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div id="vue"></div>
        </div>
      </div>
    </div>
  </body>
  script(src='/assets/js/frontend/app.js')
</html>
