extends layout

block content
  h1= title

  <form action="" method="POST" class="form">
    <input name="name" type="text" required placeholder="User name" class="form-control">
    <input name="password" type="password" required placeholder="Password Here" class="form-control">

    <button type="button" class="btn btn-default">Submit</button>
  </form>
